body {
    background-color: #dae2ea;
    height: 100vh;
}

.tag.is-primary {
    background: linear-gradient(114.44deg, #7433FF 0%, #FFA3FD 100%);
    border-radius: 7px;
}

.svg-icon {
    width: 20px;
}

.navbar {
    background-color: #dae2ea;
}

a.navbar-item:hover {
    color: #00d1b2 !important;
}

#divider {
    padding: 0;
    margin: 0;

}

a.navbar-link:hover {
    color: #00d1b2 !important;
}

th {
    background-color: white;
}